---
import { changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Services from "@components/services.astro";
import Pricing from "@components/pricing.astro";

changeLanguage("en");

const plan = [
    {
        name: "Printing",
        price: "Free",
        popular: false,
        features: [
            "Brochures",
            "Business cards",
            "Catalogs",
            "Corporate Newspapers",
            "Event materials",
            "Folders",
            "Invitation Cards",
            "Magazines",
            "Menus",
            "Labels",
            "Posters",
            "Stickers",
        ],
        button: {
            text: "Learn More",
            link: "/",
        },
    },
    {
        name: "Packaging",
        price: {
            monthly: "$19",
            annual: "$16",
            discount: "10%",
            original: "$24",
        },
        popular: true,
        features: [
            "All Free Features",
            "Up to 20 users",
            "20 Custom domains",
            "Unlimited Collaborators",
            "Advanced Integrations",
            "Priority Support",
        ],
        button: {
            text: "Learn More",
            link: "#",
        },
    },
    {
        name: "Premium",
        price: "Custom",
        popular: false,
        features: [
            "All Pro Features",
            "Unlimited Custom domains",
            "99.99% Uptime SLA",
            "SAML & SSO Integration",
            "Dedicated Account Manager",
            "24/7 Phone Support",
        ],
        button: {
            text: "Learn More",
            link: "/contact",
        },
    },
];
---

<Layout title="Pricing">
  <Container>
     <Sectionhead>
       <Fragment slot="title">Pricing</Fragment>
       <Fragment slot="desc"
         >Whatever your product needs, we can meet them.</Fragment
       >
     </Sectionhead>
     <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
       {plan.map((item) => <Pricing plan={item} />)}
     </div>
  </Container>
</Layout>
