---
import { Image } from "@astrojs/image/components";

const { services } = Astro.props;
---

<div class="container flex flex-wrap p-8 mx-auto xl:px-0 lg:gap-10 lg:flex-nowrap odd:bg-slate-50 even:bg-white">
    <div class="flex flex-wrap items-center w-full lg:w-1/2">
        <div class="flex flex-col w-full mt-4">
          <div>
            <h4 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
              {services.name}
            </h4>
            <p class="text-lg mt-4 text-slate-600">
                {services.description}
            </p>
          </div>
        </div>
      </div>
    <div>
        <Image
          src={services.image}
          alt={services.name}
          loading="lazy"
          class="px-6 md:order-1 hidden md:block max-md: object-scale-down h-100 w-100"
        />
    </div>
</div>