---
import { changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Sectionhead from "@components/sectionhead.astro";
import { Image } from "@astrojs/image/components";

changeLanguage("en");
---

<Layout title="Portfolio">
  <Container>
    <Sectionhead>
      <Fragment slot="title">ผลงานของเรา</Fragment>
      <Fragment slot="desc">Delivering high quality products for over 30 years.</Fragment>
    </Sectionhead>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
   
     </div>
  </Container>
  <Cta/>
</Layout>