---
import { changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";
import Cta from "@components/cta.astro";
import printing from "../../assets/printing.png";
import packaging from "../../assets/packaging.png";
import premium from "../../assets/premium.png";
import { Image } from "@astrojs/image/components";
import Button from "@components/ui/button.astro";

changeLanguage("th");

const printImg = printing;
const packImg = packaging;
const premImg = premium;
const products = [
    {
        name: "สี่งพิมพ์",
        coverImg: {
            src: printImg,
            width: 580,
            height: 580,
        },
        path: "/th/สี่งพิมพ์",
    },
    {
        name: "แพ็คเกจจิ้ง",
        coverImg: {
            src: packImg,
            width: 580,
            height: 580,
        },
        path: "/th/แพ็คเกจจิ้ง",
    },
    {
        name: "ของพรี่เมี่ยม",
        coverImg: {
            src: premImg,
            width: 580,
            height: 580,
        },
        path: "/th/ของพรี่เมี่ยม",
    },
];
---

<Layout title="สินค้า">
    <Container>
      <Sectionhead>
        <Fragment slot="title">สินค้า</Fragment>
        <Fragment slot="desc"></Fragment>
      </Sectionhead>
  
      <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
        <h2 class="font-bold text-3xl text-gray-800">
          Packaging Made Simple
        </h2>
        <p class="text-lg leading-relaxed text-slate-500">
          บริษัทเรามีความเชื่อเสมอว่า การบริการของเราคือหนี่งในความสำเร็จของของคู่ค้า
          บริษัท ทีดีโปรดักษ์ 
        </p>
        <p class="text-lg leading-relaxed text-slate-500">
          ช่วยเจ้าของธรุกิจหลากหลายเพื่อให้สินค้าหรือการบริการของคู่ค้าได้ออกไปยังสู่ตลาดอย่างดีที่สุด จากความหลากหลายของงานสิ่งพิ่มพ์และบรรจุภันณ์กับราคาที่เป็นกลางที่มาพร้อมกับการบริการรวดเร็ว มีมาตราฐาน ซึ่งทำให้คู่ค้าของเราสามารถได้สินค้าที่ออกเเบบตามความต้องการของคู่ค้าเเละนำสินค้าชองลูกค้าได้ออกไปยังในตลาดตามความต้องการ
        </p>
        <p class="text-lg leading-relaxed text-slate-500">
          จากประสบการณ์ตลอด 38 ปี ทางบริษัทและะทีมงาน ต้องการให้เจ้าของธรุกิจไม่ว่าจะเป็นขนาดเล็ก กลาง หรือ ใหญ่ ได้รับงานพิมพ์หรืองานบรรจุภันณ์ ที่มีคุณภาพสูงเเละสามารถออกเเบบตามความต้องการของลูกค้าในราคาที่ถูกกว่าโรงงานพิมพ์ขนาดใหญ่
        </p>      
      </div>
      <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
        {
          products.map((item) => (
            <div class="group">
              <div class="w-full aspect-square">
                <Image
                  {...item.coverImg}
                  format="avif"
                  alt={item.name}
                  class="w-full h-full object-cover rounded transition  group-hover:-translate-y-1 group-hover:shadow-xl"
                />
                <Link
                  size="lg"
                  style="primary"
                  href={item.path}
                  class="flex justify-center mt-1"
                  rel="noopener">{item.name}
                </Link>                
              </div>
            </div>
          ))
        }
      </div>
    </Container>
    <Cta/>
  </Layout>